**/.project
**/.settings
**/.classpath
.project
.settings/org.eclipse.m2e.core.prefs
gtfs-validation-lib/src/main/java/com/conveyal/gtfs/service/impl/testing.java
pre-commit.sh
NL-20170119.gtfs.zip
gtfs-validation-lib/src/test/resources/1*
